button {
  width: 90px;
  height: 50px;
  border-radius: 11px;
  background-color: #c1c1ff;
  color: #000;
  border: none;
  margin: 5px;
  margin-bottom: 40px;
}

li {
  font-family: "Maple Mono"
}

.slots {
  font-weight: bold;
  font-style: italic;
  color: #c1c1ff;
}
