@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: #11140f;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-inverse-on-surface: #2e322b;
  --color-inverse-primary: #3f6836;
  --color-inverse-surface: #e1e4da;
  --color-on-background: #e1e4da;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;
  --color-on-primary: #10380c;
  --color-on-primary-container: #c0efb0;
  --color-on-primary-fixed: #002200;
  --color-on-primary-fixed-variant: #285021;
  --color-on-secondary: #263422;
  --color-on-secondary-container: #d7e8cd;
  --color-on-secondary-fixed: #121f0e;
  --color-on-secondary-fixed-variant: #3c4b37;
  --color-on-surface: #e1e4da;
  --color-on-surface-variant: #c3c8bc;
  --color-on-tertiary: #00373a;
  --color-on-tertiary-container: #bcebef;
  --color-on-tertiary-fixed: #002022;
  --color-on-tertiary-fixed-variant: #1e4d51;
  --color-outline: #8d9387;
  --color-outline-variant: #43483f;
  --color-primary: #a4d396;
  --color-primary-container: #285021;
  --color-primary-fixed: #c0efb0;
  --color-primary-fixed-dim: #a4d396;
  --color-scrim: #000000;
  --color-secondary: #bbcbb2;
  --color-secondary-container: #3c4b37;
  --color-secondary-fixed: #d7e8cd;
  --color-secondary-fixed-dim: #bbcbb2;
  --color-shadow: #000000;
  --color-source-color: #45573f;
  --color-surface: #11140f;
  --color-surface-bright: #363a34;
  --color-surface-container: #1d211b;
  --color-surface-container-high: #272b25;
  --color-surface-container-highest: #32362f;
  --color-surface-container-low: #191d17;
  --color-surface-container-lowest: #0b0f0a;
  --color-surface-dim: #11140f;
  --color-surface-tint: #a4d396;
  --color-surface-variant: #43483f;
  --color-tertiary: #a0cfd2;
  --color-tertiary-container: #1e4d51;
  --color-tertiary-fixed: #bcebef;
  --color-tertiary-fixed-dim: #a0cfd2;


  /* --color-background: #0e1416; */
  /* --color-error: #ffb4ab; */
  /* --color-error-container: #93000a; */
  /* --color-inverse-on-surface: #2b3133; */
  /* --color-inverse-primary: #006875; */
  /* --color-inverse-surface: #dee3e5; */
  /* --color-on-background: #dee3e5; */
  /* --color-on-error: #690005; */
  /* --color-on-error-container: #ffdad6; */
  /* --color-on-primary: #00363d; */
  /* --color-on-primary-container: #9eeffe; */
  /* --color-on-primary-fixed: #001f24; */
  /* --color-on-primary-fixed-variant: #004f58; */
  /* --color-on-secondary: #1c3438; */
  /* --color-on-secondary-container: #cde7ed; */
  /* --color-on-secondary-fixed: #051f23; */
  /* --color-on-secondary-fixed-variant: #334b4f; */
  /* --color-on-surface: #dee3e5; */
  /* --color-on-surface-variant: #bfc8ca; */
  /* --color-on-tertiary: #252f4d; */
  /* --color-on-tertiary-container: #dae2ff; */
  /* --color-on-tertiary-fixed: #0f1a37; */
  /* --color-on-tertiary-fixed-variant: #3b4665; */
  /* --color-outline: #899294; */
  /* --color-outline-variant: #3f484a; */
  /* --color-primary: #82d3e1; */
  /* --color-primary-container: #004f58; */
  /* --color-primary-fixed: #9eeffe; */
  /* --color-primary-fixed-dim: #82d3e1; */
  /* --color-scrim: #000000; */
  /* --color-secondary: #b1cbd0; */
  /* --color-secondary-container: #334b4f; */
  /* --color-secondary-fixed: #cde7ed; */
  /* --color-secondary-fixed-dim: #b1cbd0; */
  /* --color-shadow: #000000; */
  /* --color-source-color: #a4d2db; */
  /* --color-surface: #0e1416; */
  /* --color-surface-bright: #343a3b; */
  /* --color-surface-container: #1b2122; */
  /* --color-surface-container-high: #252b2c; */
  /* --color-surface-container-highest: #303637; */
  /* --color-surface-container-low: #171d1e; */
  /* --color-surface-container-lowest: #090f10; */
  /* --color-surface-dim: #0e1416; */
  /* --color-surface-tint: #82d3e1; */
  /* --color-surface-variant: #3f484a; */
  /* --color-tertiary: #bbc5ea; */
  /* --color-tertiary-container: #3b4665; */
  /* --color-tertiary-fixed: #dae2ff; */
  /* --color-tertiary-fixed-dim: #bbc5ea; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11140f;
    --foreground: #e1e4da;
  }
}

@font-face {
  src: "../node_modules/@material-symbols/font-400/material-symbols-outlined.woff2";
  font-family: "Material Symbols Outlined";
  font-display: swap;
}

.header {
  font-family: "Maple Mono";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Maple Mono", Arial, Helvetica, sans-serif;
}
