/* .App { */
/*   text-align: center; */
/* } */
/**/
/* .App-logo { */
/*   height: 40vmin; */
/*   pointer-events: none; */
/* } */
/**/
/* @media (prefers-reduced-motion: no-preference) { */
/*   .App-logo { */
/*     animation: App-logo-spin infinite 20s linear; */
/*   } */
/* } */
/**/
/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */
/**/
/* .App-link { */
/*   color: #61dafb; */
/* } */
/**/
/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;

  /* --color-primary: #a4d396; */
  /* --color-secondary: #bbcbb2; */


  --color-background: #11140f;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-inverse-on-surface: #2e322b;
  --color-inverse-primary: #3f6836;
  --color-inverse-surface: #e1e4da;
  --color-on-background: #e1e4da;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;
  --color-on-primary: #10380c;
  --color-on-primary-container: #c0efb0;
  --color-on-primary-fixed: #002200;
  --color-on-primary-fixed-variant: #285021;
  --color-on-secondary: #263422;
  --color-on-secondary-container: #d7e8cd;
  --color-on-secondary-fixed: #121f0e;
  --color-on-secondary-fixed-variant: #3c4b37;
  --color-on-surface: #e1e4da;
  --color-on-surface-variant: #c3c8bc;
  --color-on-tertiary: #00373a;
  --color-on-tertiary-container: #bcebef;
  --color-on-tertiary-fixed: #002022;
  --color-on-tertiary-fixed-variant: #1e4d51;
  --color-outline: #8d9387;
  --color-outline-variant: #43483f;
  --color-primary: #a4d396;
  --color-primary-container: #285021;
  --color-primary-fixed: #c0efb0;
  --color-primary-fixed-dim: #a4d396;
  --color-scrim: #000000;
  --color-secondary: #bbcbb2;
  --color-secondary-container: #3c4b37;
  --color-secondary-fixed: #d7e8cd;
  --color-secondary-fixed-dim: #bbcbb2;
  --color-shadow: #000000;
  --color-source-color: #45573f;
  --color-surface: #11140f;
  --color-surface-bright: #363a34;
  --color-surface-container: #1d211b;
  --color-surface-container-high: #272b25;
  --color-surface-container-highest: #32362f;
  --color-surface-container-low: #191d17;
  --color-surface-container-lowest: #0b0f0a;
  --color-surface-dim: #11140f;
  --color-surface-tint: #a4d396;
  --color-surface-variant: #43483f;
  --color-tertiary: #a0cfd2;
  --color-tertiary-container: #1e4d51;
  --color-tertiary-fixed: #bcebef;
  --color-tertiary-fixed-dim: #a0cfd2;

}

html,
body {
  font-family: sans-serif;
  background-color: #11140f;
  color: #e1e4da;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

.text_large {
  font-size: 32px;
}

.text_small {
  font-size: 24px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (max-width: 510px) {
  .App {
    width: 100%;
  }

  header {
    justify-content: center;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 42px;
}

.todo_banner {
  border: 1px solid var(--color-outline);
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  max-width: 455px;
  padding: 12px;
  border-radius: 11px;
}

.todo_banner div:last-child {
  background-color: var(--color-surface-container);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 38px;
}

.form label {
  width: 90%;
}

.form input {
  background-color: var(--color-surface-container-low);
  color: var(--color-on-background);
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 11px;
  padding: 12px;
}

.form button {
  width: 10%;
  height: 50px;
  border-radius: 11px;
  background-color: var(--color-primary);
  border: none;
}

.todo_list {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 27px;
}

.todo_item,
.edit-form input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 455px;
  border: 1px solid var(--color-outline);
  font-size: 16px;
  background-color: var(--color-surface-container-lowest);
  color: var(--color-on-background);
  padding: 12px;
}

.edit-form input {
  outline: transparent;
  width: calc(100% - 14px);
  height: calc(100% - 12px);
  border: transparent;
}

.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
}

.todo_items_left {
  background-color: transparent;
  border: none;
  color: var(--color-on-background);
  gap: 12px;
  font-size: 16px;
}

.todo_items_right {
  gap: 4px;
}

.todo_items_right button {
  background-color: transparent;
  color: var(--color-on-background);
  border: none;
}

.todo_items_right button span {
  fill: var(--color-tertiary);
}
